* {
  box-sizing: border-box;
  font-family: "Roboto", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3",
    "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif !important;
}

html,
body,
#root {
  height: 100%;
}

::-webkit-scrollbar {
  width: 15px;
}

/*スクロールバーの軌道*/
::-webkit-scrollbar-track {
  border-radius: 0;
}

/*スクロールバーの動く部分*/
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 0;
}

.Resizer {
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #000;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  opacity: 0.2;
}

.Resizer:hover {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.Resizer.horizontal {
  width: 100%;
  height: 10px;
  margin: -5px 0;
  cursor: row-resize;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
}

.Resizer.horizontal:hover {
  border-top: 5px solid rgba(0, 0, 0, 0.5);
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
  width: 10px;
  margin: 0 -5px;
  cursor: col-resize;
  border-right: 5px solid rgba(255, 255, 255, 0);
  border-left: 5px solid rgba(255, 255, 255, 0);
}

.Resizer.vertical:hover {
  border-right: 5px solid rgba(0, 0, 0, 0.5);
  border-left: 5px solid rgba(0, 0, 0, 0.5);
}
.Resizer.disabled {
  cursor: not-allowed;
}
.Resizer.disabled:hover {
  border-color: transparent;
}
